body {
	background-color: #36F5B1;
}

h1 {
	color: #7D0099;
}

p {
	color: #7D0099;
}

.linkie {
	color: #FFF7F7;
}

.navbar {
	background-color: black;
	height: 40px;
	width: 4000px;
	font-size: 100;
}

.linkiebar {
	color: white;
	font-size: 100;
}

